<div class="h-auto bg-gray-100 rounded">
    <div class="pt-2 pb-2 bg-white shadow-md md:pb-4">
        <div class="flex justify-end p-2">
            <button class="text-gray-400" (click)="bsModalRef.hide()">
                <svg class="w-3 h-3 stroke-current stroke-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
        </div>
        <div class="flex flex-col px-3 space-y-3 md:space-y-4">
            <h2 class="text-xl font-bold tracking-wide text-gray-700">Can we store cookies?</h2>
            <p class="leading-4 tracking-tight text-justify text-gray-500 text-2xs">
                We and our partners use technologies, such as cookies, and process personal data, such as IP addresses
                and
                cookie identifiers, to personalise ads and content based on your interests, measure the performance of
                ads
                and content, and derive insights about the audiences who saw ads and content.
            </p>
            <p class="tracking-tight text-justify text-gray-500 text-2xs">
                Click below to consent to the use of this technology and the processing of your personal data for these
                purposes. You can change your mind and change your consent choices at any time by returning to this
                site.
            </p>
            <p class="text-justify text-gray-500 text-2xs">
                You can familiarize with our <a href="https://secureprivacy.ai/privacy-policy-sp/" target="_blank"
                    class="font-bold text-gray-800 underline">Privacy Policy</a>
            </p>
            <div class="flex flex-row justify-between pt-3 text-2xs md:text-xs">
                <div class="flex flex-row space-x-2">
                    <button
                        class="px-3 py-2 font-semibold text-white bg-green-500 rounded-sm md:px-4 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50"
                        (click)="enableAllPlugins()">
                        Accept All
                    </button>
                    <button
                        class="px-3 py-2 text-gray-400 border border-gray-400 rounded-sm md:px-4 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50"
                        (click)="saveSettings()">
                        Save Settings
                    </button>
                </div>
                <button
                    class="flex flex-row justify-end px-3 py-2 text-xs text-gray-400 md:px-4 hover:bg-gray-50 focus:outline-none focus:ring-1 focus:ring-gray-50 focus:ring-opacity-50"
                    (click)="showCustomizePanel()">
                    <div class="flex flex-row items-center space-x-2">
                        <p>Customize</p>
                        <svg class="w-3 h-3 fill-current" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path *ngIf="hideCustomizePanel" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M19 9l-7 7-7-7">
                            </path>
                            <path *ngIf="!hideCustomizePanel" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M5 15l7-7 7 7"></path>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div [collapse]="hideCustomizePanel" class="p-2 md:p-4">
        <div class="px-3 py-1 my-2 bg-white rounded-sm shadow-sm"
            *ngFor="let acc of bannerData.accordian; let i = index">
            <div class="flex flex-row justify-between space-x-2">
                <div class="flex flex-row items-center pt-2">
                    <div
                        class="relative inline-block w-6 mr-2 align-middle transition duration-200 ease-in select-none">
                        <input type="checkbox" [checked]="allPluginsSelected(i)" [name]="acc?.CategoyHeading"
                            (change)="enableAllAccordianPlugins(i)" [id]="acc?.CategoyHeading"
                            class="absolute block w-2 h-2 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox focus:outline-none hover:outline-none focus:ring-0 focus:border-0" />
                        <label [for]="acc?.CategoyHeading"
                            class="block h-2 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label hover:outline-none focus:ring-0 focus:outline-none focus:border-0"></label>
                    </div>
                    <label [for]="acc?.CategoyHeading"
                        class="font-bold text-gray-700 text-2xs">{{acc?.CategoyHeading}}</label>
                </div>
                <button class="flex flex-row justify-end px-4 py-2 text-xs text-gray-400" (click)="showAccordian(i)">
                    <div class="flex flex-row items-start text-gray-900">
                        <svg class="w-3 h-3 fill-current" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path *ngIf="showAccordianIndex !== i" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M19 9l-7 7-7-7">
                            </path>
                            <path *ngIf="showAccordianIndex === i" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M5 15l7-7 7 7"></path>
                        </svg>
                    </div>
                </button>
            </div>
            <div *ngIf="showAccordianIndex === i" class="border-b border-gray-200"></div>
            <div class="my-3" [collapse]="showAccordianIndex !== i">
                <div classs="flex flex-col space-y-2">
                    <p class="tracking-tight text-justify text-gray-500 text-2xs">
                        {{acc?.CategoyText}}
                    </p>
                </div>
                <div class="my-3 text-left text-2xs">
                    <div class="flex flex-row mb-2 font-semibold text-gray-700">
                        <p class="w-1/3">Plugins</p>
                        <p class="w-1/3">Block/Enable</p>
                        <div class="w-1/3"></div>
                    </div>
                    <div class="flex flex-row text-gray-500" *ngFor="let plugin of acc.PluginList; let ind = index">
                        <p class="w-1/3">{{plugin?.ComplianceType}}</p>
                        <div class="w-1/3">
                            <div
                                class="relative inline-block w-6 pt-1 mr-2 transition duration-200 ease-in select-none">
                                <input type="checkbox" [name]="plugin?.ComplianceTypeID" [id]="plugin?.ComplianceTypeID"
                                    [(ngModel)]="acc?.PluginList[ind].BlockingEnabled"
                                    class="absolute block w-2 h-2 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox focus:outline-none hover:outline-none focus:ring-0 focus:border-0" />
                                <label [for]="plugin?.ComplianceTypeID"
                                    class="block h-2 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label hover:outline-none focus:ring-0 focus:outline-none focus:border-0"></label>
                            </div>
                        </div>
                        <a *ngIf="plugin?.optOutExternalLink" [href]="plugin?.optOutExternalLink" target="_blank"
                            class="w-1/3 underline hover:text-blue-500">Go to site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>